<h1>My tasks</h1>
<br>
<% @tasks.each do |task| %>
  <h3><%= task.completed? %></h3>
  <%= link_to task.title, task_path(task.id) %>
  <%= link_to 'delete task', task_path(task.id), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<br>
<br>
<%= link_to 'Add a new task', tasks_new_path %>

